@import url('https://fonts.googleapis.com/css?family=Muli|Roboto+Mono|Roboto+Slab&display=swap');
body {
  font-family: 'Muli', sans-serif !important;
}
code {
  font-family: 'Roboto Mono', serif !important;
  color: #565656 !important;
}
footer {
  font-family: 'Roboto Slab', serif !important;
}
.level {
}
.solution, .level {
  padding: 20px;
  border-radius: 10px;
}
.examples, .text {
  padding: 10px;
  border-radius: 10px;
}
