@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Mono|Roboto+Slab&display=swap');
body {
  font-family: 'Nunito', sans-serif;
}
code, textarea, .terminal {
  font-family: 'Roboto Mono', serif !important;
}
input {
  border-radius: 8px !important;
}
footer {
  font-family: 'Roboto Slab', serif !important;
}
.solution, .level {
  padding: 20px;
  border-radius: 10px;
}
.examples, .text, .terminal, textarea {
  padding: 10px !important;
  border-radius: 10px !important;
}
