<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CodeCleaner</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/bootstrap.min.css', v=1)}}">
     <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/master.css', v=1)}}">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CodeCleaner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="game.html">Игра</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Аккаунт</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </header>
    <br>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="level bg-secondary">
              <div class="instructions">
                <div class="text text-light">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ad facere, minus voluptatum eveniet magni odit cumque sit repellendus dolores. Quia ea expedita culpa eos, magni ad dolore, ducimus aspernatur. Fugiat officia odit autem excepturi laborum harum minus quis nam reprehenderit voluptates perferendis ab ducimus magni neque nobis pariatur velit at cum eos dolores, aliquam vitae quod doloribus natus ratione. Ad enim deserunt maxime omnis facere cumque, consectetur architecto in maiores illo esse vel, odio magni nihil fugit autem. Nihil consequuntur architecto iusto sapiente quibusdam error maiores perspiciatis accusamus quia, unde, natus saepe beatae labore? Eveniet, odit, cumque. Cumque, impedit.</p>
                </div>
                <div class="examples bg-dark">
                  <code class="text-light">
                    print("Hello World")
                  </code>
                </div>
              </div>
            </div>
            <br>
              <form action="index.html" method="post">
                <input class="btn btn-secondary m" type="button" value="Предыдущий уровень">
                <input class="btn btn-success m" type="button" value="Следующий уровень">
              </form>
              <br>
          </div>
          <div class="col-12 col-md-6">
            <div class="solution bg-secondary">
              <form action="" method="post" class="textarea">
              {{form.code()}}
              <input class="btn btn-dark" type="submit" value="Проверить">
            </form>

              <br>
              <p class="text-light">Терминал:</p>
              <div class="terminal bg-dark">
                <p class="text-danger">kljjsd</p>
                <p class="text-success">kljjsd</p>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </main>
    <br>
    <footer>
      <p class="text-center">by Enigma for gamehack hackaton</p>
    </footer>
    <div id="preloader_malc">
      <div>
        <p>Основано на реальных событиях...</p>
      </div>
    </div>
    <script src="static/js/jQuery-3.4.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>
